.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #d46e6e, #a2c0f5);
  
}
.login-form, .register-form{
  display: flex;
  flex-direction: column;
}
.auth-form-container{
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5px;
  backdrop-filter: blur(150px);
  box-shadow: 2px 2px 1px;
}
h2{
  color: white;
}
label{
  text-align: left;
  color: white;
  font-size: 15px;
}
input{
  margin: 0.5rem 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}
button{
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: #d46e6e;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}
button[type=submit]:hover{
  letter-spacing: 0.1rem;
}
.link-btn{
  margin-top: 20px;
  background: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.link-btn:hover{
  letter-spacing: 0.02rem;
}